
<%= notice %><%= alert %>
<section class="about">
  <h1>About Achieve</h1>
  <p>
     exam22はinstagram風アプリです。<br>
  </p>
  <p>
     Acheiveを一言で表すと、写真投稿アプリです。<br>
  </p>
</section>
  <section class="function container-fluid">
    <div class="row">
    <h1>Function</h1>
      <div class="function-images">
        <div class="col-md-3 col-sm-6">
          <div class="function-image">
            <img src="<%= asset_path "key.png" %>">
            <p>ログイン機能</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="function-image">
            <img src="<%= asset_path "mails.png" %>">
            <p>メール送信機能</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="function-image">
            <img src="<%= asset_path "girls.png" %>">
            <p>友達つながり機能</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="function-image">
            <img src="<%= asset_path "comment.png" %>">
            <p>コメント投稿機能</p>
          </div>
        </div>
      </div>
    </div>
  </section>