<p id="notice"><%= notice %></p>

<%= form_for(@picture) do |f| %>
  <% if @picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= @picture.errors.count %>件のエラーがあります。</h2>

      <ul>

      <% @picture.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <br>
  <%= f.label :text %>
  <%= f.text_field :text,:placeholder => "text" %>
  <br>
  <%= f.label :image %>
  <%= f.text_field :image,:placeholder => "Image URL" %>
  <br>
  <%= f.submit %>
<% end %>